/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/*a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}*/

/* Provide sufficient contrast against white background */
/*a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}*/

/* Sticky footer styles
-------------------------------------------------- */
/*html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}*/

/* Sticky footer styles
-------------------------------------------------- */
/*html {
  position: relative;
  min-height: 100%;
}

body {*/
  /* Margin bottom by footer height */
  /*margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;*/ /* Vertically center the text there */
/*}*/

h1 {
    text-align: center;
}

.showItem {
    animation-name: showAnim;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

@keyframes showAnim {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.checked {
    animation-name: checkedAnim;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

@keyframes checkedAnim {
    /* 50% {text-decoration: line-through;}
    75% {color: lightgray;}
    100% {color: lightgray; text-decoration: line-through;} */
    to {
        color: lightgray;
        text-decoration: line-through;
    }
}

.deleted {
    display: flex;
    position: relative;
    /* animation-name: deleteAnim;
    animation-duration: 4s; */
    /* animation-fill-mode: forwards; */
    animation: deleteAnim 1s forwards;
    animation-timing-function: ease-in-out;
}

@keyframes deleteAnim {
    /* 0% {opacity: 0; text-align: left;}
    25% {opacity: 0.25;}
    50% {opacity: 0.5; text-align: center;}
    75% {opacity: 0.75; text-align: center;}
    100% {opacity: 1; text-align: center;} */
    /* from {opacity: 0; justify-content: left;} 
    to {opacity: 1; justify-content: center;} */
    from {
        opacity: 0;
        left: 0;
    }

    to {
        opacity: 1;
        left: 40%;
    }
}